html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%
}

body {
    font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
    margin: 0;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    color: #4e546b
}

.text-center {
    text-align: center
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.browser-happy {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #24a6fa
}

.browser-happy .content {
    padding-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 24px
}

.browser-happy .content a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff
}


.loading-process {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.main-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    z-index: 99
}

.main-loading .loading-con {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 96px;
    height: 96px
}

.main-loading .loading-con img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.main-loading .loading-circle {
    width: 80px;
    height: 80px;
    border-top: 8px solid #11994b;
    border-right: 8px solid #f2a808;
    border-bottom: 8px solid #2399e7;
    border-left: 8px solid #c0392b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(360deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg)
    }
}

.main-wrap {
    max-width: 100% !important
}

@media only screen and (min-width: 1500px) {
    #main-content h1 {
        max-width: 1250px
    }
}

.main-header {
    box-sizing: border-box;
    padding: 5px 10px;
    min-height: 30px;
    font-size: 14px;
    color: #4e546b
}

.main-header h1 {
    font-size: 14px;
    margin: 0;
    font-weight: 500
}

.main-header a {
    text-decoration: none;
    color: #4e546b
}

.main-header a:hover {
    color: #ff404b;
    text-decoration: underline
}

.main-header a.source {
    float: right;
    margin-right: 100px;
    color: red
}

.main-container {
    min-height: 500px;
    box-sizing: border-box;
    /*padding-left: 230px*/
}

.main-container .main-wraper {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box
}

.main-container .main-wraper #col-list {
    position: relative
}

.main-container .main-wraper a {
    color: #2b2f3e;
    text-decoration: none;
    font-size: 12px
}

.main-container .main-wraper a:hover {
    text-decoration: underline;
    color: #ff404b
}

.main-container .main-wraper h1, .main-container .main-wraper h2, .main-container .main-wraper h3 {
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Verdana, Tahoma, arial, sans-serif, "瀹嬩綋";
    line-height: 16px
}

.main-container .main-wraper h1 {
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    zoom: 1;
    color: #444;
    max-width: 1024px
}

.main-container .main-wraper h2 {
    background: #4e546b;
    color: #eee;
    padding: 4px 5px
}

.main-container .main-wraper h3 {
    color: #444;
    padding: 3px 0
}

.main-container .main-wraper ul, .main-container .main-wraper li, .main-container .main-wraper ol {
    list-style: none
}

.main-container .main-wraper ul {
    margin: 0 0 5px 10px;
    padding: 0
}

.main-container .main-wraper li {
    line-height: 16px
}

.main-container .main-wraper .col-item {
    width: 210px;
    overflow: hidden;
    margin-right: 2px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in
}

.main-container .main-wraper sup {
    position: relative;
    top: 2px;
    left: 3px;
    vertical-align: super;
    font-family: icon;
    font-size: 12px;
    color: #ff404b
}

.main-container .main-wraper del {
    text-decoration: line-through
}

.main-container .main-wraper del a {
    color: #999 !important
}

.main-container .main-wraper #main-head a:hover {
    background: transparent;
    text-decoration: underline;
    color: #3569a9
}

.main-container .footer {
    box-sizing: border-box;
    width: 100%;
    background: #2b2f3e;
    text-align: center;
    padding: 15px;
    color: #fff
}

.main-container .footer a {
    color: #fff;
    text-decoration: none
}

.main-container .footer a:hover {
    color: #ff404b;
    text-decoration: underline
}

.main-container .footer p {
    margin: 0;
    font-size: 14px
}

@media screen and (max-width: 640px) {
    .left-panel {
        position: relative;
        width: 100%
    }

    .left-panel .navigation {
        margin: 15px 0
    }

    .left-panel-hide {
        display: block;
        height: 0;
        padding: 0
    }

    #left-uinfo {
        display: -webkit-box
    }

    #left-uinfo > div {
        -webkit-box-flex: 1
    }

    #left-uinfo h4 {
        margin: 5px 0
    }

    #left-uinfo .user-info {
        padding-top: 5px
    }

    .navbar-toggle-btn {
        display: block !important
    }

    .top-search-con {
        display: none
    }

    .main-container {
        padding-left: 0
    }

    .main-container .main-wraper .chart-line {
        height: 300px
    }
}

.tongji {
    height: 0;
    overflow: hidden
}

#tips-con {
    display: none;
    position: relative;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    background: #ff404b;
    color: #fff;
    box-sizing: border-box;
    text-align: center
}

#tips-con a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px
}

#tips-con a:hover {
    text-decoration: underline
}

#tips-con #tips-close {
    position: absolute;
    top: 5px;
    right: 15px;
    display: block;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-decoration: none
}

#tips-con #tips-close:hover {
    background: transparent;
    text-decoration: none
}
