<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>
<body>
    <div id="container"></div>
    <form>
        <input autofocus required type=search>
        <input required type=range>
        <progress max="100" value="78"></progress>
        <meter value="78" min="0" max="100" low="15" high="75" optimum="15"></meter>
        <input type=datetime-local>
        <input type=date>
        <button type="submit">提交</button>
    </form>
    <!--<script src="/node_modules/angular2/bundles/angular2-polyfills.js"></script>-->
    <!--<script src="dist/bundle.js"></script>-->
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
    <% } %>
    <!--

    ##::::: ##: ########::::::: ###:::: ########:: ########:::: ##:::: ##: ####: ########:: ####: ##::: ##:: ######::
    ##: ##: ##: ##.....::::::: ## ##::: ##.... ##: ##.....::::: ##:::: ##:. ##:: ##.... ##:. ##:: ###:: ##: ##... ##:
    ##: ##: ##: ##::::::::::: ##:. ##:: ##:::: ##: ##:::::::::: ##:::: ##:: ##:: ##:::: ##:: ##:: ####: ##: ##:::..::
    ##: ##: ##: ######:::::: ##:::. ##: ########:: ######:::::: #########:: ##:: ########::: ##:: ## ## ##: ##:: ####
    ##: ##: ##: ##...::::::: #########: ##.. ##::: ##...::::::: ##.... ##:: ##:: ##.. ##:::: ##:: ##. ####: ##::: ##:
    ##: ##: ##: ##:::::::::: ##.... ##: ##::. ##:: ##:::::::::: ##:::: ##:: ##:: ##::. ##::: ##:: ##:. ###: ##::: ##:
     ###. ###:: ########:::: ##:::: ##: ##:::. ##: ########:::: ##:::: ##: ####: ##:::. ##: ####: ##::. ##:. ######::

    Skills wanted: Java, AngularJS, Spring, Hibernate, UX and Responsive Design

    -->
</body>
</html>